.input {
    height: 60px;
    padding: 20px 30px;

    border: 1px solid #b3b3b3;
    border-radius: 80px;

    background-color: #fff;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    // color: rgba(0, 0, 0, 0.5);
}