@import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,700,800);
// ctrl+click перейти по ссылке и посмотреть как пишется шрифт бывает что в два слова

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope',sans-serif;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #000;
    // padding-bottom: 600px;
    // этот поддинг для работы и удобства прокручивания вниз




}
//sans-serf прямой без засечек

a {
    color: #00AE6C;
    text-decoration: underline;
}

a:focus,
button:focus {
    outline-offset: 1px;
    outline: #005FCC auto 1px;
}
// отступ рамки на 1px


.title-section {
    font-weight: 800;
    font-size: 42px;
    line-height: 1.2;
    color: #000;

    @include tablet {
        font-size: 32px;
    }

    @include mobile {
        font-size: 24px;
    }
}

.none {
    display: none !important;
}

.visible-desktop {
    
    @include tablet {
        display: none;
    }
}

.visually-hidden {
    clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.no-scroll {
    overflow-y: hidden;

    @media (min-width: 1200px) {
        padding-right: 17px;
    }
    @media (max-width: 1119px) {
        padding-right: 0;

    }
    
    
}